<h1>Tasks#index</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>Name: <%= task.name %> - Des: <%= task.description %> - Done: <%= task.done %> - Link: <%= link_to "Show", task_path(task) %></li>
  <% end %>
</ul>

